@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src:
    url('../fonts/Pretendard/woff2/Pretendard-Thin.woff2') format('woff2'),
    url('../fonts/Pretendard/woff/Pretendard-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src:
    url('../fonts/Pretendard/woff2/Pretendard-ExtraLight.woff2') format('woff2'),
    url('../fonts/Pretendard/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src:
    url('../fonts/Pretendard/woff2/Pretendard-Light.woff2') format('woff2'),
    url('../fonts/Pretendard/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/Pretendard/woff2/Pretendard-Regular.woff2') format('woff2'),
    url('../fonts/Pretendard/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src:
    url('../fonts/Pretendard/woff2/Pretendard-Medium.woff2') format('woff2'),
    url('../fonts/Pretendard/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src:
    url('../fonts/Pretendard/woff2/Pretendard-SemiBold.woff2') format('woff2'),
    url('../fonts/Pretendard/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/Pretendard/woff2/Pretendard-Bold.woff2') format('woff2'),
    url('../fonts/Pretendard/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  src:
    url('../fonts/Pretendard/woff2/Pretendard-ExtraBold.woff2') format('woff2'),
    url('../fonts/Pretendard/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  src:
    url('../fonts/Pretendard/woff2/Pretendard-Black.woff2') format('woff2'),
    url('../fonts/Pretendard/woff/Pretendard-Black.woff') format('woff');
}
